<div data-hook="admin_inside_author_form">
  <%= f.field_container :name do %>
    <%= f.label :name, Spree.t(:name) %> <span class="required">*</span><br />
    <%= error_message_on :author, :name, class: 'fullwidth title'  %>
    <%= text_field :author, :name  %>
  <% end %>

</div>
