<% self.title = @author.name %>

<h1><%= @author.name %></h1>

<div id="bio" class="wideTextArea">
  <%= @author.bio %>
</div>

<div class="fullWidthThinDivider">
</div>

<% if @products.present? %>
  <div id="products">
    <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
  </div>
<% end %>
