<div id="authors-list" data-hook="authors_list">
  <%= @product.authors.map { |author| link_to(author.name, author, { class: "coloredLink" }) }.join(', ').html_safe if @product.authors.present? %>
</div>
